vpe/tests/org.jboss.tools.vpe.test/scheme/scheme.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2001/XMLSchema-instance" xmlns:vpe="http://www.w3.org/2001/XMLSchema-instance">
  <xs:element name="templates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="vpe:template-taglib"/>
        <xs:element maxOccurs="unbounded" ref="vpe:tag"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="template-taglib">
    <xs:complexType>
      <xs:attribute name="prefix" use="required" type="xs:NCName"/>
      <xs:attribute name="uri" use="required" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tag">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="vpe:copy"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="vpe:if"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="vpe:template"/>
      </xs:sequence>
      <xs:attribute name="case-sensetive" type="xs:NCName"/>
      <xs:attribute name="case-sensitive" type="xs:NCName"/>
      <xs:attribute name="haveVisualPreview" type="xs:NCName"/>
      <xs:attribute name="name" use="required" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="copy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="vpe:attribute"/>
      </xs:sequence>
      <xs:attribute name="attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="attribute">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="value" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="if">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="vpe:if"/>
        <xs:element minOccurs="0" ref="vpe:template"/>
        <xs:element minOccurs="0" ref="vpe:textFormatting"/>
      </xs:sequence>
      <xs:attribute name="test" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="template">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="span" form="unqualified">
          <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:group ref="vpe:input"/>
              <xs:element ref="vpe:value"/>
            </xs:choice>
            <xs:attribute name="class"/>
            <xs:attribute name="dir"/>
            <xs:attribute name="style" type="xs:anyURI"/>
            <xs:attribute name="title"/>
          </xs:complexType>
        </xs:element>
        <xs:choice minOccurs="0">
          <xs:element ref="vpe:jsproot"/>
          <xs:element ref="vpe:taglib"/>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:element name="button" form="unqualified">
            <xs:complexType mixed="true">
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="vpe:value"/>
              </xs:sequence>
              <xs:attribute name="class" use="required"/>
              <xs:attribute name="style" use="required"/>
              <xs:attribute name="title" use="required"/>
              <xs:attribute name="value"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="label" form="unqualified">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="vpe:value"/>
              </xs:sequence>
              <xs:attribute name="class" use="required"/>
              <xs:attribute name="for" use="required"/>
              <xs:attribute name="style" use="required"/>
              <xs:attribute name="title" use="required"/>
            </xs:complexType>
          </xs:element>
        </xs:choice>
        <xs:element minOccurs="0" ref="vpe:grid"/>
        <xs:choice minOccurs="0">
          <xs:group ref="vpe:td"/>
          <xs:element ref="vpe:copy"/>
          <xs:element ref="vpe:panelgrid"/>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:group ref="vpe:option"/>
          <xs:element ref="vpe:style"/>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:group ref="vpe:textarea"/>
          <xs:element name="nobr" form="unqualified">
            <xs:complexType>
              <xs:choice>
                <xs:element ref="vpe:value"/>
                <xs:group maxOccurs="unbounded" ref="vpe:input"/>
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:element ref="vpe:any"/>
          <xs:element ref="vpe:load-bundle"/>
        </xs:choice>
        <xs:element minOccurs="0" name="img" form="unqualified">
          <xs:complexType>
            <xs:attribute name="alt"/>
            <xs:attribute name="border"/>
            <xs:attribute name="class"/>
            <xs:attribute name="height"/>
            <xs:attribute name="src" use="required"/>
            <xs:attribute name="style"/>
            <xs:attribute name="title"/>
            <xs:attribute name="width"/>
          </xs:complexType>
        </xs:element>
        <xs:choice minOccurs="0">
          <xs:element ref="vpe:column"/>
          <xs:element ref="vpe:link"/>
        </xs:choice>
        <xs:group minOccurs="0" ref="vpe:select"/>
        <xs:element minOccurs="0" ref="vpe:panellayout"/>
        <xs:element minOccurs="0" ref="vpe:a"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="vpe:div"/>
          <xs:group ref="vpe:input"/>
          <xs:element ref="vpe:datatable"/>
          <xs:element ref="vpe:dnd"/>
          <xs:element ref="vpe:resize"/>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:group ref="vpe:table"/>
          <xs:element name="textFormatting" form="unqualified">
            <xs:complexType>
              <xs:attribute name="use-default-formats" use="required" type="xs:NCName"/>
            </xs:complexType>
          </xs:element>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:element ref="vpe:breaker"/>
          <xs:element ref="vpe:list"/>
          <xs:sequence>
            <xs:element ref="vpe:drag"/>
            <xs:element ref="vpe:drop"/>
          </xs:sequence>
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="vpe:textFormatting"/>
          <xs:element ref="vpe:pseudoContent"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="children" type="xs:NCName"/>
      <xs:attribute name="class"/>
      <xs:attribute name="file"/>
      <xs:attribute name="hasImaginaryBorder" type="xs:NCName"/>
      <xs:attribute name="modify" type="xs:NCName"/>
      <xs:attribute name="namespaceIdentifier"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="jsproot">
    <xs:complexType/>
  </xs:element>
  <xs:element name="taglib">
    <xs:complexType/>
  </xs:element>
  <xs:element name="grid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="vpe:value"/>
        <xs:group minOccurs="0" ref="vpe:input"/>
      </xs:sequence>
      <xs:attribute name="border"/>
      <xs:attribute name="class"/>
      <xs:attribute name="disabled" type="xs:boolean"/>
      <xs:attribute name="layout"/>
      <xs:attribute name="style"/>
      <xs:attribute name="title" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="panelgrid">
    <xs:complexType>
      <xs:attribute name="bgcolor" use="required"/>
      <xs:attribute name="border" use="required"/>
      <xs:attribute name="captionClass" use="required"/>
      <xs:attribute name="captionStyle" use="required"/>
      <xs:attribute name="cellpadding" use="required"/>
      <xs:attribute name="cellspacing" use="required"/>
      <xs:attribute name="class" use="required"/>
      <xs:attribute name="columnClasses" use="required"/>
      <xs:attribute name="dir" use="required"/>
      <xs:attribute name="footerClass" use="required"/>
      <xs:attribute name="frame" use="required"/>
      <xs:attribute name="headerClass" use="required"/>
      <xs:attribute name="rowClasses" use="required"/>
      <xs:attribute name="rules" use="required"/>
      <xs:attribute name="style" use="required"/>
      <xs:attribute name="table-size" use="required"/>
      <xs:attribute name="title" use="required"/>
      <xs:attribute name="width" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="style">
    <xs:complexType/>
  </xs:element>
  <xs:element name="any">
    <xs:complexType>
      <xs:attribute name="display" use="required" type="xs:NCName"/>
      <xs:attribute name="title" use="required"/>
      <xs:attribute name="value" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="load-bundle">
    <xs:complexType/>
  </xs:element>
  <xs:element name="column">
    <xs:complexType>
      <xs:attribute name="title" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="link">
    <xs:complexType>
      <xs:attribute name="href" use="required"/>
      <xs:attribute name="rel" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="panellayout">
    <xs:complexType/>
  </xs:element>
  <xs:element name="a">
    <xs:complexType>
      <xs:attribute name="class" use="required"/>
      <xs:attribute name="dir"/>
      <xs:attribute name="style" use="required"/>
      <xs:attribute name="title" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="datatable">
    <xs:complexType>
      <xs:attribute name="bgcolor" use="required"/>
      <xs:attribute name="border" use="required"/>
      <xs:attribute name="cellpadding" use="required"/>
      <xs:attribute name="cellspacing" use="required"/>
      <xs:attribute name="class" use="required"/>
      <xs:attribute name="columnClasses" use="required"/>
      <xs:attribute name="dir"/>
      <xs:attribute name="footerClass" use="required"/>
      <xs:attribute name="frame" use="required"/>
      <xs:attribute name="headerClass" use="required"/>
      <xs:attribute name="height"/>
      <xs:attribute name="rowClasses" use="required"/>
      <xs:attribute name="rules" use="required"/>
      <xs:attribute name="style" use="required"/>
      <xs:attribute name="title" use="required"/>
      <xs:attribute name="width"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="vpe:drag"/>
        <xs:element minOccurs="0" ref="vpe:drop"/>
        <xs:element minOccurs="0" ref="vpe:container-child"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resize">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="vpe:width"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="vpe:height"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="width">
    <xs:complexType>
      <xs:attribute name="disable-absolute-position" type="xs:NCName"/>
      <xs:attribute name="width-attr" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="height">
    <xs:complexType>
      <xs:attribute name="disable-absolute-position" type="xs:NCName"/>
      <xs:attribute name="height-attr" use="required" type="xs:NCName"/>
      <xs:attribute name="tag-xpath" type="xs:NCName"/>
      <xs:attribute name="test"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="breaker">
    <xs:complexType>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="list">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="vpe:value"/>
      </xs:sequence>
      <xs:attribute name="class" use="required"/>
      <xs:attribute name="ordered" use="required"/>
      <xs:attribute name="style" use="required"/>
      <xs:attribute name="title" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pseudoContent">
    <xs:complexType>
      <xs:attribute name="attrName" type="xs:NCName"/>
      <xs:attribute name="defaultText" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="textFormatting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="vpe:format"/>
      </xs:sequence>
      <xs:attribute name="use-default-formats" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="format">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="vpe:formatAttribute"/>
      </xs:sequence>
      <xs:attribute name="addChildren" type="xs:NCName"/>
      <xs:attribute name="addParent" type="xs:NCName"/>
      <xs:attribute name="handler"/>
      <xs:attribute name="setDefault" type="xs:boolean"/>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="formatAttribute">
    <xs:complexType>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="input">
    <xs:sequence>
      <xs:element name="input" form="unqualified">
        <xs:complexType>
          <xs:attribute name="border"/>
          <xs:attribute name="checked"/>
          <xs:attribute name="class"/>
          <xs:attribute name="dir"/>
          <xs:attribute name="disabled" type="xs:NCName"/>
          <xs:attribute name="size"/>
          <xs:attribute name="src"/>
          <xs:attribute name="style"/>
          <xs:attribute name="title"/>
          <xs:attribute name="type"/>
          <xs:attribute name="value"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="value">
    <xs:complexType>
      <xs:attribute name="expr" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="td">
    <xs:sequence>
      <xs:element name="td" form="unqualified">
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="vpe:value"/>
            <xs:element name="a" form="unqualified">
              <xs:complexType mixed="true">
                <xs:attribute name="href" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:attribute name="class"/>
          <xs:attribute name="colspan" type="xs:integer"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="option">
    <xs:sequence>
      <xs:element name="option" form="unqualified">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="vpe:value"/>
          </xs:sequence>
          <xs:attribute name="title"/>
          <xs:attribute name="value" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="textarea">
    <xs:sequence>
      <xs:element name="textarea" form="unqualified">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="vpe:value"/>
          </xs:sequence>
          <xs:attribute name="class" use="required"/>
          <xs:attribute name="cols"/>
          <xs:attribute name="disabled" type="xs:boolean"/>
          <xs:attribute name="rows" use="required"/>
          <xs:attribute name="style" use="required"/>
          <xs:attribute name="title" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="select">
    <xs:sequence>
      <xs:element name="select" form="unqualified">
        <xs:complexType>
          <xs:choice minOccurs="0">
            <xs:group ref="vpe:option"/>
            <xs:element ref="vpe:value"/>
          </xs:choice>
          <xs:attribute name="class"/>
          <xs:attribute name="dir"/>
          <xs:attribute name="disabled" type="xs:boolean"/>
          <xs:attribute name="multiple" type="xs:NCName"/>
          <xs:attribute name="size"/>
          <xs:attribute name="style"/>
          <xs:attribute name="title"/>
          <xs:attribute name="value"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="drag">
    <xs:complexType>
      <xs:attribute name="start-enable" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="drop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="vpe:container-child"/>
      </xs:sequence>
      <xs:attribute name="container" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="container-child">
    <xs:complexType>
      <xs:attribute name="tag-name" use="required" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="div">
    <xs:sequence>
      <xs:element name="div" form="unqualified">
        <xs:complexType mixed="true">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="vpe:div"/>
            <xs:group ref="vpe:input"/>
            <xs:group ref="vpe:select"/>
            <xs:group ref="vpe:table"/>
            <xs:group ref="vpe:textarea"/>
            <xs:element ref="vpe:value"/>
            <xs:element name="b" form="unqualified">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="vpe:value"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:attribute name="action"/>
          <xs:attribute name="bgcolor"/>
          <xs:attribute name="border"/>
          <xs:attribute name="class"/>
          <xs:attribute name="cols"/>
          <xs:attribute name="onclick"/>
          <xs:attribute name="rendered"/>
          <xs:attribute name="rows"/>
          <xs:attribute name="size"/>
          <xs:attribute name="style"/>
          <xs:attribute name="title"/>
          <xs:attribute name="width"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="table">
    <xs:sequence>
      <xs:element name="table" form="unqualified">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="tr" form="unqualified">
              <xs:complexType>
                <xs:group maxOccurs="unbounded" ref="vpe:td"/>
                <xs:attribute name="class"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="cellspacing" type="xs:integer"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
</xs:schema>
